# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.DS_Store

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# Local Settings
local_settings.py

# Logs
*.log
*.log.*

# Media
/media/

# Static Files
/staticfiles/

# Secrets
secrets.json

# Databases
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
 
 *.env
 /.env