<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <h2>Account Activation</h2>
    <p>Dear User,</p>
    <p>Thank you for registering an account. To activate your account, please click the activation link below:</p>
    <p><a href="{{ activation_link }}">Activate Account</a></p>
    <p>If the above link doesn't work, you can copy and paste the following URL into your web browser:</p>
    <p>{{ activation_link }}</p>
    <p>Please note that this link will expire after a certain period of time.</p>
    <p>If you did not register an account on our website, please ignore this email.</p>
    <p>Best regards,</p>
    <p>Your Website Team</p>
</body>
</html>
