{% extends 'superapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Logout Page{% endblock title %}

{% block content %}
    <div class="content-section">
        <div class="card">
            <h5>You have been logged out</h5>
            <div class='border-top pt-3'>
                <small class="text-center">
                    <button class='btn'><a href={% url 'login' %} class="link-unstyled">Sign In</a></button>
                </small>
            </div>
        </div>
    </div>

    <style>
        .link-unstyled {
            color: inherit;
            text-decoration: none;
        }
        .link-unstyled:hover {
            color: inherit;
            text-decoration: none;
        }
        .btn {
            border: 0px;
            color: white;
            transition: background-color 0.3s, color 0.3s;
        }
    
        .btn:hover {
            border: 0px;
            color: black;
        }
    
        .btn:active {
            transform: scale(0.95);
        }
        .content-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        .card {
            background: rgba(43, 41, 41, 0);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.6px);
            -webkit-backdrop-filter: blur(4.6px);
            border: 1px solid rgba(43, 41, 41, 0.19);
            padding: 20px;
            margin: 20px;
            text-align: center;
        }

        .card small {
            display: block;
        }
    </style>
{% endblock content %}
