{% extends 'superapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Email{% endblock title %}

{% block content %}
    <div class="content-section">
        <div class="card">
            <h7>We have sent an email for you to reset your password</h7><br>
            <h7>Don't forget to check your spam folder</h7>
        </div>
    </div>

    <style>
        .content-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 85vh;
        }

        .card {
            background: rgba(43, 41, 41, 0);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(4.6px);
            -webkit-backdrop-filter: blur(4.6px);
            border: 1px solid rgba(43, 41, 41, 0.19);
            padding: 20px;
            margin: 20px;
            text-align: center;
        }

        .card small {
            display: block;
        }
    </style>
{% endblock content %}
